<mat-toolbar
  style="display: flex; align-items: center; justify-content: space-around"
>
  <div>
   

    Resume
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
    </button>
  </div>

  <div>
    <span>Welcome</span>
  </div>
  <div>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    ><a href="https://afifahmadgit.github.io/mattress-site/" target="_blank">projects</a>
    </button>&nbsp;&nbsp;

  </div>
</mat-toolbar>
