<style>
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(214, 229, 245, 0.52);

  }
  .round{
    border-radius: 20px;
  }
</style>

<header>
  <h3 style="text-align: left">Experienced From</h3>

  <div>
    <div style="display: flex; justify-content: space-between">
      <div>
        <h3>Cloud Age Pune</h3>
      </div>
      <div>
        <button mat-raised-button (click)="openBottomSheet(1)">Info</button>
      </div>
    </div>
    <div style="text-align: center">
      <iframe
      class="round"
        width="100%"
        height="300px"
        src="https://www.cloudage.co.in/about-us/"
      >
      </iframe>
    </div>
  </div>
  <div>
    <div style="display: flex; justify-content: space-between">
      <div>
        <h3>Codevian Technologies PVT.LTD</h3>
      </div>
      <div>
        <button mat-raised-button (click)="openBottomSheet(1)">Info</button>
      </div>
    </div>
    <div style="text-align: center">
      <iframe class="round" width="100%" height="300px" src="https://codevian.com"> </iframe>
    </div>
  </div>
  <br /><br>
  <div>
    <h3 style="text-align: left">Studied From</h3>
    <div>
      <div style="display: flex; justify-content: space-between">
        <div>
          <h3>Goverment Polytechnic pune</h3>
        </div>
        <div>
          <button mat-raised-button (click)="openBottomSheet(2)">Info</button>
        </div>
      </div>
      <div style="text-align: center">
        <iframe class="round"
          width="100%"
          height="300px"
          src="https://www.careers360.com/colleges/government-polytechnic-pune"
        >
        </iframe>
      </div>
    </div>
    <div>
      <div style="display: flex; justify-content: space-between">
        <div>
          <h3>Infinite grafix Technology</h3>
        </div>
        <div>
          <button mat-raised-button (click)="openBottomSheet(3)">Info</button>
        </div>
      </div>
      <div style="text-align: center">
        <iframe
        class="round"
          width="100%"
          height="300px"
          src="https://infinitegraphixads.com/"
        >
        </iframe>
      </div>
    </div>
  </div>
</header>
<h3>About Me</h3>
<footer
  style="
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  "
>
  <b>
    I Have Mathematical Achivements Regarding logical Thincking And problem
    solving exams And because of Some Experienced Faculties I developed my Great
    Knowledge of problem solving skills</b
  >
  <ng-container
    ><br />
    <b>
      <h4>Career objective</h4>
      To obtain a position that will allow me to utilize my technical skills and
      willingness to learn and in making an organization successful.
    </b></ng-container
  >
</footer>
