<style>
  img {
    width: 200px;
    height: 200px;
  }
</style>


<div
  style="
    margin: 40px 20px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div style="margin: 10px">
    <div style="display: flex">
      <div>
        <h1>Hi</h1>
        <h2>My Name is</h2>
        <h1 style="color: rgb(255, 98, 0)">Afifahmad</h1>
        <h3 style="color: rgb(255, 98, 0)">From India</h3>
      </div>
      <div>
        <img src="./assets/2289_SkVNQSBGQU1PIDEwMjgtMTIy.jpg" alt="" />
      </div>
    </div>
    <h4>
      Having <span style="color: rgb(255, 98, 0)">2.5 + years </span> of
      experience as AWS Administrator | AWS Data Analytics | Cloudera Hadoop
      Associate | MEAN Stack Web Development
    </h4>
  </div>
</div>
<!--   -->
