<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Big Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Hadoop</td>
    </tr>
    <tr>
        <td>flume</td>
    </tr>
    <tr>
        <td>hive</td>
    </tr>
    <tr>
        <td>q</td>
    </tr>
    <tr>
        <td>q</td>
    </tr>
    <tr>
        <td>q</td>
    </tr>
  </tbody>
</table> -->
<div class="container" style="margin: 10px;display: flex; flex-direction: column">
  <div class="right">
    <a href="#"><img src="./assets/angular.png"  alt="" /></a>
  </div>
  <div class="left">
    <a href="#"><img src="./assets/hadoop.png"  alt="" /></a>
  </div>
  <div class="right">
    <a href="#"><img src="./assets/basic web.png"  alt="" /></a>
  </div>
  <div class="left">
    <a href="#"><img src="./assets/cloudera.png"  alt="" /></a>
  </div>
  <div class="right">
    <a href="#"><img src="/assets/bootstrap.png"  alt="" /></a>
  </div>
  <div class="left">
    <a href="#"> <img src="/assets/spark.png"  alt="" /></a>
  </div>
</div>
