<style>
  div{
    color: white;
  }
  #span {
    color: red;
    font-size: large;
    font-family: cursive;
  }
  #span::before {
    content: "";
    animation: anime infinite 4s;
  }
  @keyframes anime {
    33% {
      content: "AWS Admin";
    }
    66% {
      content: "Web Development";
    }
    100% {
      content: "Big Data";
    }
  }
</style>
<!-- this is for 3 dots -->
<div id="phone">
  <h3>Welcome</h3>
  <div>
    <b style="text-align: center">
      Please Enter To desktop Mode to View Portfolio</b
    >
    <br /><br />
    <ul>
      <li>Launch the Chrome browser on Android.</li>
      <li>Open any website that you want to view in desktop mode.</li>
      <li>
        Tap onvertical &nbsp; <span class="test"></span> 3 dots icon the menu
        options.
      </li>
      <li>Select the checkbox against the Desktop site.</li>
    </ul>
  </div>
</div>
<div id="desktop">
  <div
    style="
      position: sticky;
      top: 0;
      right: 0;
      z-index: 999;
      /* box-shadow: 0px 3px 17px 2px rgba(131, 128, 128, 0.759); */
    "
  >
    <!-- <app-header></app-header> -->
    <nav
      style="padding: 10px 65px; display: flex; justify-content: space-between;margin-bottom: 10px;"
      class="navbar navbar-expand-lg navbar-dark bg-dark"
    >
      <div>
        <h3>Welcome</h3>
      </div>
      <div><b>HIRE ME FOR </b> &nbsp;<span id="span"></span></div>
      <div>
        <b>Resume</b
        ><button class="btn">
          <a href="../assets/afifahmad resume (3).pdf" download>
            <i class="fa fa-download"></i
          ></a>
        </button>
      </div>
    </nav>
  </div>

  <div>
    <div style="display: flex;margin-bottom: 50px; justify-content: space-between">
      <div style="flex: 0.3; padding: 50px;border-radius: 20px;margin-left: 10px;" class="bg-dark">
        <div style="margin-bottom: 20px">
          <app-sidebar></app-sidebar>
        </div>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Competency</mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> AWS</mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- <ul class="list" style="display:flex; list-style: none;justify-content: space-between;">
              <li ></li>
            </ul> -->

            <b> AWS Compute | Networking</b> (EC2, VPC .... )
            <b>COLLECTION</b> Kinesis | SQS | Amazon MSK <b>STORAGE</b> S3 |
            DynamoDB <br />
            <b> PROCESSING </b> EMR | Glue | Lambda <br /><b> ANALYSIS </b>
            Athena | Redshift | OpenSearch <br />
            <b>VISUALIZATION </b> Quicksight <br /><b> SECUIRITY </b> KMS | VPC
            Endpoints | Encryption ..
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Big Data </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <b>Hadoop And Cloudera</b>
            hadoop | Kafka | Yarn | Hive | spark | CM | Tablue | Sentry |
            Kerberos ...
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Web Development</mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <b>Front End</b> Angular | HTML | CSS | Javascript | Bootstrap
            <br />
            <b>Backend</b> Node.js | Express
            <br />
            <b>Database</b> MongoDB | Firebase
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div
        id="effect"
        style="
          background: linear-gradient(
            to bottom right,
            hsl(0, 0%, 31%) 3%,
            hsl(0, 0%, 20%) 97%
          );
          position: relative;
          border-radius: 20px;
          margin-right: 10px;
          flex: 0.7;
          padding: 100px;
        "
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="fixed bg-dark" style="bottom: 0; position: fixed; width: 100%">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 30px;
        background-color: #dadada;
      "
    >
      <h5>Made By Afifahmad</h5>
      <h5 style="text-align: center">
        <img src="../assets/angular.png" width="50px" /> Used Angular 13
      </h5>
    </div>
  </div>
</div>
