<mat-nav-list style="min-width: 250px">
  <div class="icons">
    <a mat-list-item routerLink="home"> <mat-icon>home</mat-icon>&nbsp; Home</a>
    <a mat-list-item href="https://www.linkedin.com/in/afifahmad-nadaf-734a25242">
      <mat-icon>linkedin</mat-icon>&nbsp;LinkedIn </a
    >
    <a mat-list-item routerLink="table" (click)="openDialog()"
      ><mat-icon>phone</mat-icon>&nbsp; Contact</a
    >
    <a mat-list-item routerLink="project">
      &#8594;&nbsp; Projects</a
    >
    <a mat-list-item routerLink="about">
      <mat-icon>face</mat-icon>&nbsp; About Me</a
    >
  </div>
</mat-nav-list>


  


