<mat-nav-list style="min-width: 250px">
  <div class="icons">
    <a mat-list-item routerLink="home"> <mat-icon>home</mat-icon>&nbsp; Home</a>
    <a mat-list-item href="https://www.linkedin.com/in/afifahmad-nadaf-387095243">
      <mat-icon>linkedin</mat-icon>&nbsp;LinkedIn </a
    >
    <a mat-list-item routerLink="table" (click)="openDialog()"
      ><mat-icon>whatsapp</mat-icon>&nbsp; Contact</a
    >
    <a mat-list-item routerLink="about">
      <mat-icon>face</mat-icon>&nbsp; About Me</a
    >
  </div>
</mat-nav-list>

<div class="container" style="display: flex; flex-direction: column">
  <div class="right">
    <a href="#"> <img src="./assets/mongo db.png"  alt="" /></a>
  </div>
  <div class="left">
    <a href="#"> <img src="./assets/python.png"  alt="" /></a>
  </div>
  <div class="right">
    <a href="#"> <img src=" ./assets/node js.png"  alt="" /></a>
  </div>
  <div class="left">
    <a href="#"> <img src="./assets/aws.png"  alt="" /></a>
    <!-- <a href="#"> <img src="../../assets/kubernetees.png"  alt="" /></a> -->
  </div>
  

</div>
