<div>
  <div class="card w-250">
    <img
      class="card-img-top"
      src="../../assets/Picture1.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Parking Solution</h5>
      <p class="card-text">
        To Analise this Huge Amount of Data in Real Time and Getting Insight
        From Data To creating Strategies For BI Team
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="card w-250">
    <iframe
      src="https://afifahmadgit.github.io/mattress-site/"
      frameborder="0"
      height="300px"
    ></iframe>
    <!-- <img class="card-img-top" src="../../assets/Untitled Diagram.drawio (2).png" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Sample Mattress</h5>
      <p class="card-text">
        Sample Mattress Website using Pure CSS and HTML Only 
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="card w-250" >
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
      <mdb-carousel-item>
        <img src="../../assets/Images/1.jpg" class="d-block w-100" alt="..." />

      </mdb-carousel-item>
      <mdb-carousel-item>
        <img src="../../assets/Images/7.jpg" class="d-block w-100" alt="..." />
  
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img src="../../assets/Images/9.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
       
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
    <div class="card-body">
      <h5 class="card-title">Mini Weather Station</h5>
      <p class="card-text">
        Mini Weather Station Using Arduino to Getting Temprature,Humidity,Intensity and Sending it to Client Using ThingSpeak
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
